
a:link {
	color: #0000FF;
}
a:visited {
	color: #9900CC;
}
a:hover {
		text-decoration: underline;
}

body {
	background-color: rgba(100,100,100,.5);
	height: 100%;
}
#wrapper {
	background-color: white;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}
header {
	background-image: url('./Images/CCTC_Logo.gif');
	background-repeat: no-repeat;
	background-color: #263A7C;/* This is the color in the header of the CCTC page */
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row; 
	width: 100%;
	text-indent: -9999px; /*From page 260 in book */
	height: 62px;
	border-bottom: 3px solid gold;
	white-space: nowrap;
	overflow: hidden;
	}

#busbee, #carroll, #mcgainey, #mclaughlin, #pritchard, #wells {
	font-family: tahoma, sans-serif;
	font-size: 20px;
	text-align: center;
}

#facultyTable.td {
	border: 1px solid #263A7C;
	padding-left: 10px;
}
#content {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}
#indexNavArea {
	float: left;
	position: relative;
	bottom: 930px;
	/*height: 3500px;*/
}

nav {
	display: flex;
	display: -webkit-flex;
	margin-left: 0;
	background-color: #eaeaea;
	flex-direction: row;
	-webkit-flex-direction: row;
	flex-wrap: wrap;
	flex: 1;
	width: 150px;
	height: 1055px;
	}
nav li{
	list-style-type: none;
	margin-left: -15px;
	margin-right: 15px;
	text-align: center;
	font-family: tahoma;
	font-size: 20px;
	line-height: 150%;
}
a {
	text-decoration: none;
}
main {
	display: flex;
	display: -webkit-flex;
	background-color: white;
	width: 100%;
	padding: 5px 10px;
	flex-direction: row;
	-webkit-flex-direction: row;
	flex-wrap: wrap;
	flex: 6;
	/*overflow: auto;*/
	font-family: tahoma;
	font-size: 15px;
	}
footer {
	background-color: #263A7C;
	color: white;
	width: 100%;
	text-align: center;
	height: 50px;
	margin-top: -22px;
/*	position: relative;
	bottom: 22px;*/
	line-height: 300%;
	/*display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;*/
	}
#indexContentArea {
	height: 100%;
}
#indexFooter {
/*	position: relative;
	top: 500px;*/
}
h1, #figureArea {
	margin-left: 200px;
	text-align: center;
}
#figureArea {
	height: 850px;
}
@media only screen and (max-width: 1024px)
{
	#wrapper {
		width: 100%;
	}
	#content {
		display: block;
	}
	#busbee, #carroll, #mcgainey, #mclaughlin, #pritchard, #wells {
		padding: 5px 0;
		margin: 0 0;
	}
	nav {
		display: inline table;
		/*margin-top: -15px;*/
		height: 50px;
		width: auto;
		/*width: 706px;
		min-width: 400px;*/
	}
	nav a {
		display: inline-table;
		/*padding: 5px;*/
		
		width: auto
	}
	nav li {
		display: inline-table;
		padding: 0 -5px;
		margin-left: 10px;
		width: auto;
	}
	main {
		display: block;
		width: auto;
		margin-top: -10px;
	}
	
	
	
}/* END OF 1024 */

@media only screen and (max-width: 565px)
{
	#wrapper {
		width: auto;
	}
	#content {
		display: block;
	}
	nav {
			height: 150px;
	}
	#facultyNavArea {'
			height: 150px;
	}
	nav a {
		padding: 0 10px;
		text-align: center;
		margin: 30px;
	}
	nav li {
		margin: -30px;
	}

	

}/* END OF 768 */